<!DOCTYPE HTML>
<html style="height:100%">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Coffea Roasterie's backend website.">
  <meta name="author" content="Bryan Kegley">
  <title>Coffea Hub</title>

</head>

<body style="min-height:100%">

    <div id="root"></div>    <!-- this is where our component will appear -->

    <script src="/app.bundle.js"></script>
    
</body>

</html>
